# Player-run town settings
# Adjust PurchasePrice/Purchased as needed.
# In-game toggles for Purchased/Available are stored as runtime overrides in townstone_data.

Town town_001
{
    RegionName      Moonglow
    PurchasePrice   30000000
}

Town town_002
{
    RegionName      Moonglow Keep
    PurchasePrice   N/A
}

Town town_003
{
    RegionName      Britain
    PurchasePrice   N/A
}

Town town_004
{
    RegionName      Jhelom
    PurchasePrice   20000000
}

Town town_005
{
    RegionName      Yew
    PurchasePrice   10000000
}

Town town_006
{
    RegionName      Empath Abbey
    PurchasePrice   N/A
}

Town town_007
{
    RegionName      Minoc
    PurchasePrice   10000000
}

Town town_008
{
    RegionName      Trinsic
    PurchasePrice   N/A
}

Town town_009
{
    RegionName      Skara Brae
    PurchasePrice   10000000
}

Town town_010
{
    RegionName      Magincia
    PurchasePrice   20000000
}

Town town_011
{
    RegionName      Ocllo
    PurchasePrice   N/A
}

Town town_012
{
    RegionName      Buccaneer's Den
    PurchasePrice   40000000
}

Town town_013
{
    RegionName      Nujelm
    PurchasePrice   40000000
}

Town town_014
{
    RegionName      Vesper
    PurchasePrice   30000000
}

Town town_015
{
    RegionName      Cove
    PurchasePrice   N/A
}

Town town_016
{
    RegionName      Serpent's Hold
    PurchasePrice   N/A
}

Town town_017
{
    RegionName      Lord British's Castle
    PurchasePrice   9000000
}

Town town_018
{
    RegionName      Lord Blackthorne's Castle
    PurchasePrice   9000000
}

Town town_019
{
    RegionName      Elven Town
    PurchasePrice   20000000
}

Town town_020
{
    RegionName      Randorin
    PurchasePrice   N/A
}

Town town_021
{
    RegionName      Delucia
    PurchasePrice   N/A
}

Town town_022
{
    RegionName      Papua
    PurchasePrice   N/A
}
