//////////////////////////////////////////////////////////////////////////
//																		//
//	Structure: area	<min_x> <max_x> <min_y> <max_y>	<Name>				//
//																		//
//	TODO:	Add some place to be disabled by default, 					//
//		but that could be enabled for quests issues.					//
//																		//
//	Newer areas override later.  For example, if you have a smaller 	//
//	area within britain, you must place that area BEFORE the britain	//
//	entry.																//
//																		//
//////////////////////////////////////////////////////////////////////////

// Britannia
Areas britannia
{
	//Dungeon Entrances
	Area 556 599 1608 1655 id=blightedgroveentrance cat=entrance Blighted Grove Entrance
	Area 1432 1471 1216 1251 id=brigandstrongholdentrance cat=entrance Brigand Stronghold Entrance
	Area 2492 2507 1916 1923 id=coveteousentrance cat=entrance Coveteous Entrance
	Area 4100 4123 428 451 id=deceitentrance cat=entrance Deceit Entrance
	Area 1292 1359 1044 1099 id=despiseentrance cat=entrance Despise Entrance
	Area 1164 1183 2632 2647 id=destardentrance cat=entrance Destard Entrance
	Area 2920 2927 3404 3411 id=firedungeonentrance cat=entrance Fire Dungeon Entrance
	Area 3776 3795 1088 1107 id=gemstonecaveentrance cat=entrance Gemstone Cave Entrance
	Area 4716 4727 3808 3827 id=hythlothentrance cat=entrance Hythloth Entrance
	Area 1900 2003 76 87 id=icedungeonentrance cat=entrance Ice Dungeon Entrance
	Area 1012 1023 1424 1443 id=orccaveentrance cat=entrance Orc Cave Entrance
	Area 1712 1723 2992 3003 id=paintedcavesentrance cat=entrance Painted Caves Entrance
	Area 1620 1635 3316 3327 id=rangerdungeonentrance cat=entrance Ranger Dungeon Entrance
	Area 1712 1751 1056 1079 id=sanctuaryentrance cat=entrance Sanctuary Entrance
	Area 504 523 1556 1567 id=shameentrance cat=entrance Shame Entrance
	Area 2616 2643 36 63 id=solenhiveentrance cat=entrance Solen Hive Entrance
	Area 1104 1191 2576 2619 id=terathankeepentrance cat=entrance Terathan Keep Entrance
	Area 1348 1463 884 1007 id=windentrance cat=entrance Wind Entrance
	Area 1376 1427 848 883 id=windentrance2 cat=entrance Wind Entrance
	Area 1984 2063 212 291 id=wrongentrance cat=entrance Wrong Entrance

	//Britannia Shrines
	Area 4268 4279 3692 3703 id=shrineofhumility cat=shrine Shrine of Humility
	Area 2484 2499 3924 3939 id=shrineofvalor cat=shrine Shrine of Valor
	Area 1716 1735 3520 3535 id=shrineofhonor cat=shrine Shrine of Honor
	Area 1588 1603 2484 2499 id=shrineofspirituality cat=shrine Shrine of Spirituality
	Area 1292 1307 624 643 id=shrineofjustice cat=shrine Shrine of Justice
	Area 1456 1463 840 847 id=shrineofchaos cat=shrine Shrine of Chaos
	Area 1852 1867 864 883 id=shrineofcompassion cat=shrine Shrine of Compassion
	Area 3344 3367 276 299 id=shrineofsacrifice cat=shrine Shrine of Sacrifice
	Area 4200 4235 548 591 id=shrineofhonesty cat=shrine Shrine of Honesty

	//Britannia Graveyards
	Area 1336 1391 1440 1511 id=britaingraveyard cat=graveyard Britain Graveyard
	Area 2724 2787 836 899 id=vespergraveyard cat=graveyard Vesper Graveyard
	Area 2420 2459 1076 1123 id=covegraveyard cat=graveyard Cove Graveyard
	Area 4524 4559 1292 1339 id=moonglowgraveyard cat=graveyard Moonglow Graveyard
	Area 708 739 1100 1139 id=yewgraveyard cat=graveyard Yew Graveyard
	Area 1272 1299 3712 3751 id=jhelomgraveyard cat=graveyard Jhelom Graveyard
	Area 3500 3555 1120 1163 id=nujelmgraveyard cat=graveyard Nujel'm Graveyard

	//Small Points of Interest
	Area 1376 1423 3728 3759 id=jhelomarena cat=poi Jhelom Arena
	Area 2480 2507 3564 3603 id=zeddicuszorandersaltar cat=poi Zeddicus Zorander's Altar
	Area 5120 5171 1744 1791 id=starroom cat=poi Star Room
	Area 4472 4551 1340 1411 id=moonglowzoo cat=poi Moonglow Zoo

	//Britannia Cities
	Area 5892 6019 1420 1531 id=occlomine cat=city Occlo Mine
	Area 3588 3751 2460 2731 id=occlo cat=city Occlo
	Area 3652 3811 2048 2299 id=magincia cat=city Magincia
	Area 2620 2787 2068 2267 id=buccaneersden cat=city Buccaneer's Den
	Area 2868 3079 3324 3575 id=serpentshold cat=city Serpents Hold
	Area 1792 2167 2632 2927 id=trinsic cat=city Trinsic
	Area 1100 1203 3564 3703 id=northjhelomfarmlands cat=city North Jhelom Farmlands
	Area 1232 1519 3596 3923 id=jhelom cat=city Jhelom
	Area 1372 1531 3948 4051 id=southjhelomisland cat=city South Jhelom Island
	Area 512 695 2048 2299 id=skarabrae cat=city Skara Brae
	Area 696 911 2056 2423 id=skarabraefarmlands cat=city Skara Brae Farmlands
	Area 6912 7167 256 511 id=elventown cat=city Elven Town
	Area 1408 1711 1500 1795 id=britain cat=city Britain
	Area 1288 1407 1700 1839 id=britainfarmlands cat=city Britain Farmlands
	Area 1084 1287 1540 1903 id=britainouterfarmlands cat=city Britain Outer Farmlands
	Area 1500 1543 1404 1499 id=lordblackthornescastle cat=city Lord Blackthornes Castle
	Area 1288 1407 1556 1699 id=lordbritishcastle cat=city Lord British Castle
	Area 3480 3827 1032 1427 id=nujelm cat=city Nujel'm
	Area 540 707 772 927 id=empathabbey cat=city Empath Abbey
	Area 5128 5315 3928 4087 id=delucia cat=city Delucia
	Area 5632 5843 3092 3319 id=papau cat=city Papau
	Area 2204 2295 1112 1243 id=cove cat=city Cove
	Area 2388 2539 348 603 id=minoc cat=city Minoc
	Area 2540 2627 552 603 id=minocfarmlands cat=city Minoc Farmlands
	Area 2464 2623 604 687 id=minocfarmlands2 cat=city Minoc Farmlands
	Area 2540 2635 372 551 id=minocisle cat=city Minoc Isle
	Area 4380 4735 792 1235 id=moonglow cat=city Moonglow
	Area 4248 4379 876 1103 id=moonglowkeep cat=city Moonglow Keep
	Area 5128 5375 256 511 id=randorin cat=city Randorin
	Area 2820 2935 636 799 id=vesper cat=city Vesper
	Area 2936 2987 684 799 id=vesper2 cat=city Vesper
	Area 2988 3035 748 799 id=vesper3 cat=city Vesper
	Area 2820 3055 800 1015 id=vesper4 cat=city Vesper
	Area 2936 3007 600 655 id=vesperoutbuildings cat=city Vesper Outbuildings
	Area 2716 2819 928 1015 id=vesperoutbuildings2 cat=city Vesper Outbuildings
	Area 500 599 928 1051 id=yew cat=city Yew
	Area 192 411 700 927 id=yewisland cat=city Yew Island
	Area 412 539 772 927 id=yewfarmlands cat=city Yew Farmlands
	Area 232 499 928 1255 id=yewfarmlands2 cat=city Yew Farmlands
	Area 500 599 1052 1255 id=yewfarmlands3 cat=city Yew Farmlands
	Area 600 707 928 1255 id=yewfarmlands4 cat=city Yew Farmlands

	//Britannia Dungeons
	Area 5632 5947 1760 2047 id=solenhive cat=dungeon Solen Hive
	Area 5920 6027 1572 1695 id=paintedcaves cat=dungeon Painted Caves
	Area 5380 5503 1848 1951 id=coveteouslevel cat=dungeon Coveteous Level 1
	Area 5380 5399 1952 1963 id=coveteouslevel2 cat=dungeon Coveteous Level 1
	Area 5380 5623 1952 2039 id=coveteouslevel3 cat=dungeon Coveteous Level 2
	Area 5536 5627 1824 1927 id=coveteouslevel4 cat=dungeon Coveteous Level 3
	Area 5500 5555 1800 1819 id=coveteouslevel5 cat=dungeon Coveteous Level 4
	Area 5400 5483 1792 1835 id=coveteouslake cat=dungeon Coveteous Lake
	Area 5120 5375 1532 1795 id=terathankeep cat=dungeon Terathan Keep
	Area 1028 1255 2156 2303 id=britainmaze cat=dungeon Britain Maze
	Area 5128 5163 1944 2019 id=orccavelevel cat=dungeon Orc Cave Level 1
	Area 5128 5171 1864 1919 id=orccavelevel2 cat=dungeon Orc Cave Level 2
	Area 5120 5371 1796 2063 id=miningcaves cat=dungeon Mining Caves
	Area 5292 5375 1284 1391 id=khaldunlevel cat=dungeon Khaldun Level 1
	Area 5376 5627 1284 1407 id=khaldunlevel2 cat=dungeon Khaldun Level 2
	Area 5376 5519 1408 1507 id=khaldunlevel3 cat=dungeon Khaldun Level 2
	Area 5880 6027 1280 1415 id=rangerdungeon cat=dungeon Ranger Dungeon
	Area 6028 6051 1280 1335 id=rangerdungeon2 cat=dungeon Ranger Dungeon
	Area 4560 4635 3548 3631 id=firetemple cat=dungeon Fire Temple
	Area 5900 6003 12 115 id=hythlothlevel cat=dungeon Hythloth Level 1
	Area 5900 6003 132 243 id=hythlothlevel2 cat=dungeon Hythloth Level 2
	Area 6020 6131 140 235 id=hythlothlevel3 cat=dungeon Hythloth Level 3
	Area 6044 6123 24 107 id=hythlothlevel4 cat=dungeon Hythloth Level 4
	Area 5564 5599 620 643 id=despisegateway cat=dungeon Despise Gateway
	Area 5380 5515 516 639 id=despiselevel cat=dungeon Despise Level 1
	Area 5380 5531 644 771 id=despiselevel2 cat=dungeon Despise Level 2
	Area 5380 5627 772 1023 id=despiselevel3 cat=dungeon Despise Level 3
	Area 5120 5379 772 1031 id=destard cat=dungeon Destard
	Area 5776 5883 512 639 id=wronglevel cat=dungeon Wrong Level 1
	Area 5644 5735 512 579 id=wronglevel2 cat=dungeon Wrong Level 2
	Area 5784 5723 620 667 id=wronglevel3 cat=dungeon Wrong Level 3
	Area 5664 5871 788 1011 id=wronglevel4 cat=dungeon Wrong Level 4
	Area 5380 5627 380 507 id=newbiesdungeon cat=dungeon Newbies Dungeon
	Area 5380 5627 260 379 id=randorindungeon cat=dungeon Randorin Dungeon
	Area 5380 5503 0 131 id=shamelevel cat=dungeon Shame Level 1
	Area 5504 5635 0 131 id=shamelevel2 cat=dungeon Shame Level 2
	Area 5380 5627 132 255 id=shamelevel3 cat=dungeon Shame Level 3
	Area 5636 5891 0 127 id=shamelevel4 cat=dungeon Shame Level 4
	Area 5656 5699 380 431 id=zuluentrance cat=dungeon Zulu Entrance 1
	Area 5732 5771 316 371 id=zuluentrance2 cat=dungeon Zulu Entrance 2
	Area 5716 5771 424 463 id=zuluentrance3 cat=dungeon Zulu Entrance 3
	Area 5812 5863 416 479 id=zuluentrance4 cat=dungeon Zulu Entrance 4
	Area 5900 6003 268 371 id=zuludungeon cat=dungeon Zulu Dungeon 1
	Area 5900 6003 396 495 id=zuludungeon2 cat=dungeon Zulu Dungeon 2
	Area 6024 6131 268 371 id=zuludungeon3 cat=dungeon Zulu Dungeon 3
	Area 6024 6131 396 499 id=zuludungeon4 cat=dungeon Zulu Dungeon 4
	Area 5124 5231 1284 1387 id=zuludungeon5 cat=dungeon Zulu Dungeon 5
	Area 5124 5371 1412 1515 id=zuludungeon6 cat=dungeon Zulu Dungeon 6
	Area 6068 6139 1276 1335 id=colorwars cat=dungeon Color Wars
	Area 6032 6131 1336 1407 id=colorwars2 cat=dungeon Color Wars
	Area 6024 6127 1424 1511 id=britainsewers cat=dungeon Britain Sewers
	Area 2100 2211 3880 4019 id=evilspellbookisland cat=dungeon Evil Spellbook Island
	Area 5664 5891 128 259 id=icedungeon cat=dungeon Ice Dungeon
	Area 5652 5711 300 339 id=icedungeonlevel cat=dungeon Ice Dungeon Level 2
	Area 5800 5863 320 387 id=icedungeonfort cat=dungeon Ice Dungeon Fort
	Area 5120 5235 520 643 id=deceitlevel cat=dungeon Deceit Level 1
	Area 5272 5355 520 643 id=deceitlevel2 cat=dungeon Deceit Level 2
	Area 5120 5235 644 771 id=deceitlevel3 cat=dungeon Deceit Level 3
	Area 5236 5355 644 771 id=deceitlevel4 cat=dungeon Deceit Level 4
	Area 5616 5627 1424 1443 id=firedungeon cat=dungeon Fire Dungeon
	Area 5628 5879 1280 1523 id=firedungeon2 cat=dungeon Fire Dungeon
	Area 6632 6699 72 199 id=firedungeonmine cat=dungeon Fire Dungeon Mine
	Area 6200 6571 320 671 id=scourgeoutlands cat=dungeon Scourge Outlands
	Area 6432 6563 824 983 id=blightedgrove cat=dungeon Blighted Grove
	Area 6456 6615 0 259 id=gemstonecave cat=dungeon Gemstone Cave
	Area 5120 5371 0 251 id=wind cat=dungeon Wind
	Area 6240 6319 852 915 id=brigandstronghold cat=dungeon Brigand Stronghold
	Area 932 1027 680 839 id=shadowlordsstronghold cat=dungeon Shadowlords Stronghold
	Area 6144 6399 0 255 id=sanctuary cat=dungeon Sanctuary

	//Britannia Points of Interest
	Area 616 655 1472 1503 id=orcfort cat=poi Orc Fort
	Area 1404 1431 2092 2115 id=britaincrossroads cat=poi Britain Crossroads
	Area 2376 2551 3868 4051 id=valorisland cat=poi Valor Island
	Area 2300 2411 3368 3547 id=ruinsisland cat=poi Ruins Island
	Area 2432 2559 3532 3667 id=arcaneisle cat=poi Arcane Isle
	Area 1028 1135 3080 3227 id=destardisle cat=poi Destard Isle
	Area 1080 1271 2768 3055 id=destardswamp cat=poi Destard Swamp
	Area 1648 1703 2440 2503 id=trinsiccrossroads cat=poi Trinsic Crossroads
	Area 1796 2127 2236 2463 id=bogofdesolation cat=poi Bog of Desolation
	Area 6740 6783 68 151 id=unusedbasement cat=poi Unused Basement
	Area 1816 2035 804 887 id=desertofcompassion cat=poi Desert of Compassion
	Area 1816 1947 888 975 id=desertofcompassion2 cat=poi Desert of Compassion
	Area 1948 1999 888 919 id=desertofcompassion3 cat=poi Desert of Compassion
	Area 1948 1971 920 955 id=desertofcompassion4 cat=poi Desert of Compassion
	Area 6080 6143 592 643 id=racestartingroom cat=poi Race Starting Room
	Area 5912 6143 908 999 id=housedisplayarea cat=poi House Display Area
	Area 5752 5875 1092 1239 id=developerskeep cat=poi Developers Keep
	Area 6040 6103 1092 1239 id=developershouse cat=poi Developers House
	Area 5876 6039 1092 1239 id=developerscastle cat=poi Developers Castle
	Area 5436 5483 1572 1627 id=weddingchapel cat=poi Wedding Chapel
	Area 5488 5547 1632 1695 id=zulusarena cat=poi Zulu's Arena
	Area 5996 6055 696 755 id=greyroom cat=poi Grey Room
	Area 5376 5471 1044 1127 id=staffhome cat=poi Staff Home
	Area 6008 6091 828 907 id=vendormarket cat=poi Vendor Market 1
	Area 5912 5987 828 907 id=vendormarket2 cat=poi Vendor Market 2
	Area 5132 5203 1172 1207 id=hairshop cat=poi Hair Shop
	Area 5268 5315 1156 1195 id=jail cat=poi Jail
	Area 4100 4863 3068 3987 id=fireisland cat=poi Fire Island
	Area 1040 1231 3356 3711 id=northjhelomisland cat=poi North Jhelom Island
	Area 4240 4747 780 1531 id=moonglowisland cat=poi Moonglow Island
	Area 3848 4307 164 771 id=iceisle cat=poi Ice Isle
	Area 2304 2631 784 955 id=coveteousmountains cat=poi Coveteous Mountains
	Area 2200 2219 1244 1275 id=covemine cat=poi Cove Mine
	Area 2136 2227 1308 1427 id=coveorcfort cat=poi Cove Orc Fort
	Area 3332 3371 536 603 id=vesperoutlands cat=poi Vesper Outlands
	Area 2576 2591 1108 1131 id=ruinedaltar cat=poi Ruined Altar
	Area 3332 3815 2352 2931 id=occloisle cat=poi Occlo Isle
	Area 3520 3819 2012 2307 id=maginciaisle cat=poi Magincia Isle
	Area 2568 2999 1928 2371 id=buccaneersdenisle cat=poi Buccaneer's Den Isle
	Area 2760 3079 3324 3643 id=serpentsholdisle cat=poi Serpents Hold Isle
	Area 424 511 2004 2131 id=skarabraeisle cat=poi Skara Brae Isle

	//World Areas
	Area 5912 6143 512 1267 id=greenacres cat=world Green Acres 1
	Area 5376 5911 1044 1267 id=greenacres2 cat=world Green Acres 2
	Area 6052 6143 1536 1723 id=greenacres3 cat=world Green Acres 3
	Area 5432 5891 1536 1747 id=greenacres4 cat=world Green Acres 4
	Area 5892 6143 1724 1747 id=greenacres5 cat=world Green Acres 5
	Area 5432 5619 1748 1775 id=greenacres6 cat=world Green Acres 6
	Area 5960 6143 1748 2295 id=greenacres7 cat=world Green Acres 7
	Area 5124 5959 2064 2295 id=greenacres8 cat=world Green Acres 8
	Area 5120 6143 2300 4095 id=lostlands cat=dungeon Lost Lands
	Area 0 5119 0 4095 id=zuluterritory cat=world Zulu Territory
	Area 5120 7167 0 4095 id=zuludungeonterritory cat=world Zulu Dungeon Territory
	Area 0 7167 0 4095 id=feluccawholeworld cat=world Felucca Whole World
}

//Britannia_alt
Areas britannia_alt
{
	//Whole Map Areas
	Area	0 5121 0 4095 id=trammel cat=world Trammel
	Area	5122 7167 0 4095 id=trammeldungeonarea cat=world Trammel Dungeon Area
	Area 0 7167 0 4095 id=trammelwholeworld cat=world Trammel Whole World
}

//ilshenar
Areas ilshenar
{
	Area	2226 2301 1522 1597 id=virtuesroom cat=poi Virtues Room
	Area	752 926 556 728 id=verlorreg cat=poi Ver Lor Reg
	Area	0 2303 0 1599 id=ilshenar cat=world Ilshenar
}

//malas
Areas malas
{
	Area	872 1107 420 652 id=luna cat=city Luna
	Area	1931 2137 1224 1438 id=umbra cat=city Umbra
	Area	0 200 0 712 id=tokunodungeons cat=dungeon Tokuno Dungeons
	Area	511 2559 0 2047 id=malas cat=world Malas
}

//tokuno
Areas tokuno
{
	Area	620 863 1160 1375 id=zento cat=city Zento
	Area	0 1447 0 1447 id=tokuno cat=world Tokuno
}

//termur
Areas termur
{
	Area	256 1279 2750 4095 id=termur cat=world Ter Mur
}


















# // Areas that can be guarded
# Areas 1
# {	//		min_x	max_x	min_y	max_y	Description
# //	Area	5392	5631	1792	2047 	Covetous
# //	Area	5120	5375	516		769   	Deceit
# //	Area	5376	5629	512		1080 	Despise
# //	Area	5120	5375	770		1080 	Destard
# //	Area	5888	6142	0		245 	Hythloth
# //	Area	5630	5887	123		511		Ice Dungeon
# //	Area	5630	6142	1280	1535 	Fire Dungeon
# //	Area	5376	5629	0		255 	Shame Part 1
# //	Area	5630	5887	0		122 	Shame Part 2
# //	Area	5120	5375	0		255 	Wind
# //	Area	5120	5375	1536	1791 	Terathan Temple
	
# 	Area	588  	675  	796  	899  	Empath Abbey
# 	Area	1296 	1411 	1560 	1699 	Lord British's Castle
# 	Area	1500 	1545 	1400 	1490 	Blackthorn Castle
# 	Area	1376 	1715 	1536 	1795 	Britain
# 	Area	1020 	1531 	3340 	4055 	Jhelom
# 	Area	3644 	3839 	2040 	2283 	Magincia
# 	Area	2384 	2547 	364  	627  	Minoc
# 	Area	2548 	2635 	464  	551  	Minoc Isle
# 	Area	4368 	4495 	1020 	1235 	Moonglow
# 	Area	3484 	3819 	1064 	1399 	Nujel'm
# 	Area	5488 	5547 	1632 	1695 	Arena Lounge
# 	// -
# 	Area	6024 	6075 	844  	891  	Vendor Market 1
# 	// -
# 	Area	5920 	5967 	844  	891  	Vendor Market 2
# 	Area	5892 	6019 	1420 	1527 	Ocllo Mine
# 	Area	3332 	3815 	2348 	2927 	Ocllo
# 	Area	2204 	2295 	1112 	1243 	Cove
# 	Area	1792 	2103 	2632 	2899 	Trinsic
# 	Area	2820 	3051 	632  	1015 	Vesper
# 	Area	5630 	5887 	512  	1023 	Wrong
# 	Area	496  	587  	948  	1027 	Yew
# 	Area	532  	695  	2108 	2271 	Skara Brae
# 	Area	2864 	3071 	3332 	3583 	Serpent's Hold
# 	Area	2592 	2783 	2080 	2271 	Buccaneer's Den
# 	Area	6912 	7167 	256  	511  	Elven Town
# 	// -
# 	Area	5128 	5211 	1160 	1215 	Hair Shop
# 	Area	5130 	5153 	1761 	1775 	Star Room
# 	Area	5120 	5375 	1792 	2047 	Underground Caves
# 	Area	1469 	1488 	747  	758  	PvP stone area
# 	// -
# 	Area	5268 	5315 	1156 	1195 	Jail
# 	// -
# 	Area	6144 	6398 	0    	254  	Raided Town
# 	Area	5121 	5368 	1810 	2061 	Mini Caves
# 	Area	5633 	5947 	1762 	2047 	Solen Hive
# 	// -
# 	Area	6456 	6707 	12   	247  	Gemstone Cave
# 	Area	5494 	5541 	1641 	1688 	Arena
# 	// -
# 	Area	6013 	6039 	713  	739  	Gate Room
# 	// -
# 	Area	6097 	6123 	607  	625  	Race Room
# 	Area	2365 	2564 	3855 	4052 	Evil Spellbook Island
# 	Area	2418 	2573 	3534 	3671 	T2A Island
# 	Area	5443 	5475 	1581 	1621 	Wedding Chapel
# 	// -
# 	Area	5427 	5440 	1082 	1094 	Staff Room
# 	Area	6030 	6136 	1333 	1412 	Capture the Flag 1
# 	Area	6052 	6142 	1280 	1347 	Capture the Flag 2
# 	Area	930  	1025 	681  	836  	Yew Underground
# 	Area	1030 	1257 	2158 	2306 	Brit Maze
# 	// Area	5380	5631	260		387		Newbie Dungeon
# 	Area	5128 	5375 	256  	511  	Randorin
# 	Area	5376 	5631 	256  	511  	No-PvP Dungeon
# 	// -
# 	Area	5912 	6143 	908  	1067 	Exhibit Area
# 	// -
# 	Area	6196 	6567 	316  	671  	Scourge Land Outpost
# 	//Area	5376	5629	1081	1279 	Green Acres 1
# 	//Area	5630	6142	1024	1279 	Green Acres 2
# 	//Area	5888	6142	512		1023 	Green Acres 3
# 	//Area	5120	5375	256		515 	Green Acres 4
# 	//Area	5392	5631	1536	1775 	Green Acres 5
# 	//Area	5120	5631	2048	2203 	Green Acres 6
# 	//Area	5632	6142	1536	2203 	Green Acres 7
# 	Area	5120 	5903 	512  	1043 	Dungeons 1
# 	Area	5120 	6143 	1268 	1531 	Dungeons 2
# 	Area	5120 	5635 	1532 	2047 	Dungeons 3
# 	Area	5628 	6143 	256  	511  	Dungeons 4
# 	// -
# 	Area	5120 	6143 	0    	255  	Dungeons 5
# 	Area	4248	4343	876		1019	Moonglow Keep
# 	Area	0    	5119 	0    	4094 	Britannia
# 	Area	5632 	5843 	3092 	3319 	Papua
# 	Area	5128 	5315 	3928 	4087 	Delucia
# 	Area	5120 	6142 	2303 	4094 	Lost Lands
# 	Area	0    	7167 	0    	4094 	Whole World
# 	Area	185  	690  	400  	955  	Justice Hall
# }

# // Always unguarded areas
# Areas 2
# {
# 	// Jelhom Fighting Pit
# 	Area	1376 	1423 	3728 	3759 	Fighting Pit

# 	// RPer town Arena
# 	Area	5270 	5291 	450  	461  	Randorin Arena
# }
