# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Talisman
	Version		1.0
	Description	Item definitions for the Talismans.

	Creator		Developer Alryc	
	C_Email		alryc99@gmail.com

	Maintainer	Developer Alryc
	M_Email		alryc99@gmail.com

	// Script	cmdlevel	path
}
