Item 0x213a
{
	Name 			talismanofid
	Graphic 		0x1096
	Desc 			a Talisman of Identification
	MethodScript	talisman/method
	Script			:talisman:talisman/use
	Equipscript		::skilladvancerequip
	Unequipscript	::skilladvancerunequip
	DestroyScript	::maindestroy
	VendorSellsFor	100000
	VendorBuysFor 	500
}

Item 0x213b
{
    Name 			talismanofid2
    Graphic 		0x2F58
    Desc 			a Talisman of Identification
	MethodScript	talisman/method
	Script			:talisman:talisman/use
	Equipscript		::skilladvancerequip
	Unequipscript	::skilladvancerunequip
	DestroyScript	::maindestroy
    VendorSellsFor	100000
    VendorBuysFor 	500
}

Item 0x213c
{
    Name 			talismanofid3
    Graphic 		0x2F59
    Desc 			a Talisman of Identification
	MethodScript	talisman/method
	Script			:talisman:talisman/use
	Equipscript		::skilladvancerequip
	Unequipscript	::skilladvancerunequip
	DestroyScript	::maindestroy
    VendorSellsFor	100000
    VendorBuysFor	500
}

Item 0x213d
{
    Name 			talismanofid4
    Graphic 		0x2F5A
    Desc 			a Talisman of Identification
	MethodScript	talisman/method
	Script			:talisman:talisman/use
	Equipscript		::skilladvancerequip
	Unequipscript	::skilladvancerunequip
	DestroyScript	::maindestroy
    VendorSellsFor	100000
    VendorBuysFor 	500
}

Item 0x213e
{
    Name 			talismanofid5
    Graphic 		0x2F5B
    Desc 			a Talisman of Identification
	MethodScript	talisman/method
	Script			:talisman:talisman/use
	Equipscript		::skilladvancerequip
	Unequipscript	::skilladvancerunequip
	DestroyScript	::maindestroy
    VendorSellsFor	100000
    VendorBuysFor 	500
}

Item 0x213f
{
	Name 			darksapphire
	Graphic 		0x3192
	Desc 			Dark Sapphire
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2140
{
	Name 			turquoise
	Graphic 		0x3193
	Desc 			Turquoise
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2141
{
	Name 			perfectemerald
	Graphic 		0x3194
	Desc 			Perfect Emerald
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2142
{
	Name 			ecrucitrine
	Graphic 		0x3195
	Desc 			Ecru Citrine
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2143
{
	Name 			whitepearl
	Graphic 		0x3196
	Desc 			White Pearl
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2144
{
	Name 			fireruby
	Graphic 		0x3197
	Desc 			Fire Ruby
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2145
{
	Name 			bluediamond
	Graphic 		0x3198
	Desc 			Blue Diamond
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2146
{
	Name 			brilliantamber
	Graphic 		0x3199
	Desc 			Brilliant Amber
	VendorSellsFor	150
	VendorBuysFor	40
	Weight			0
	DestroyScript	::maindestroy
}

Item 0x2147
{
	Name 			glowingbrain
	Graphic 		0x1CF0
	Desc 			Glowing Brain
	# VendorSellsFor	150
	VendorBuysFor	2000
	Weight			10
	DestroyScript	::maindestroy
}

